build/
vendor/st/stm32f0_stdperiph_v1.5.0/
vendor/st/stm32f10x_stdperiph_v3.5.0/
ide/keil/generated/
.vs/
.idea/
*.user
*.suo
*.uvguix.*
*.uvoptx
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst
*.axf
Objects/
Listings/
